<header>
    <div class="logo">
        <a routerLink="/"><img src="assets/Logo.png" alt="Logo" ></a>
    </div>
    
    <nav class="menu">
  <a routerLink="/batiments" routerLinkActive="active">Bâtiments</a>
  <a routerLink="/services" routerLinkActive="active">Services</a>
  <a routerLink="/fabrication" routerLinkActive="active">Fabrication</a>
  <a routerLink="/alimentation" routerLinkActive="active">Alimentation</a>
    </nav>
    
    <div class="search">
        <input type="text" placeholder="Rechercher un artisan..." />
        <button type="submit"><i class="bi bi-search"></i></button>
    </div>
