<footer class="footer">
     <div class="row">
         <div class="col-md-6">

                <h2>Contact</h2>
                <p>101 cours Charlemagne</p>
                <p>CS 20033</p>
                <p>69269 LYON CEDEX 02</p>
                <p>France</p>
                <p>+33 (0)4 26 73 40 00</p>
        </div>

        <div class="col-md-6">
            <nav>                           
                <h2>Pages légales</h2>
                    <ul>
                        <li><a routerLink="/mentions-legales">Mentions légales</a></li>
                        <li><a routerLink="/cgu">Données personnelles</a></li>
                        <li><a routerLink="/confidentialite">Accessibilité</a></li>
                        <li><a routerLink="/cookies">Cookies</a></li>
                    </ul>
            </nav>
        </div>

        
    </div>
</footer>