.footer{
    background-color: #0074c7;
    color: #ffffff;
    padding: 1rem;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

h2 {
    font-family: 'GraphikXXCondensed', sans-serif;
    color: #ffffff;
}