<div *ngIf="artisan">
  <h2>{{ artisan.name }}</h2>
  
<div class="stars">
  <ng-container *ngFor="let star of getStarsArray(artisan.note)">
    <i class="bi" [ngClass]="star ? 'bi-star-fill' : 'bi-star'"></i>
  </ng-container>
</div>

  
  <p><strong>Spécialité :</strong> {{ artisan.specialty }}</p>
  <p><strong>Localisation :</strong> {{ artisan.location }}</p>

  <section>
    <h3>À propos</h3>
    <p>{{ artisan.about }}</p>
  </section>

  <section>
    <h3>Contactez {{ artisan.name }}</h3>
    <form (ngSubmit)="sendMessage()" #contactForm="ngForm">
      <div>
        <label>Votre nom :</label>
        <input type="text" [(ngModel)]="form.name" name="name" required />
      </div>
      <div>
        <label>Objet :</label>
        <input type="text" [(ngModel)]="form.subject" name="subject" required />
      </div>
      <div>
        <label>Message :</label>
        <textarea [(ngModel)]="form.message" name="message" required></textarea>
      </div>
      <button type="submit" [disabled]="!contactForm.form.valid">Envoyer</button>
