<div class="container">
  <h1 class="text-center">Résultats de la recherche pour "{{searchQuery}}"</h1>
  <form (submit)="onSearch(searchInput.value); $event.preventDefault()">
  <input #searchInput type="search" ... />
  <button type="submit">Rechercher</button>
</form>

  <div *ngIf="filteredArtisans.length > 0; else noResults">
  <div *ngFor="let artisan of filteredArtisans">
    <!-- Affichage de l'artisan -->
    <h5>{{ artisan.name }}</h5>
    <p>{{ artisan.specialty }} - {{ artisan.location }}</p>
  </div>
</div>
<ng-template #noResults>
  <p>Aucun artisan trouvé.</p>
</ng-template>